html[data-theme="light"] {
  --bg-app: #f9f9f9;
  --bg-subtle: #f3f3f3;
  --bg-panel: #ffffff;
  --bg-row-hover: #f3f3f3;

  --border-app: rgba(26, 28, 31, 0.08);
  --border-panel: rgba(26, 28, 31, 0.12);

  --text-primary: #1a1c1f;
  --text-secondary: #4f4f4f;
  --text-tertiary: #5d5d5d;

  --accent: #339cff;
  --accent-glow: rgba(51, 156, 255, 0.14);
  --success: #00a240;
  --warning: #e25507;
  --danger: #e02e2a;
}
